.mainBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.InputContainer {
  width: max-content;
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom,rgb(227, 213, 255),rgb(255, 231, 231));
  border-radius: 30px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.075);
}

.input {
  width: 200px;
  height: 40px;
  border: none;
  outline: none;
  caret-color: rgb(255, 81, 0);
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  padding-left: 15px;
  letter-spacing: 0.8px;
  color: rgb(19, 19, 19);
  font-size: 13.4px;
}

.apartment {
  width: 37px;
  margin: 0.4rem;
}

.button {
  border-width: 0;
  background: linear-gradient(to bottom,rgb(227, 213, 255),rgb(255, 231, 231));
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:enabled:hover {
  box-shadow: 0 0 10px 2px rgba(148, 128, 186, 0.8); /* Aggiunge un'ombra più scura con leggera opacità */
}

.button:disabled {
  box-shadow: none;
  cursor: not-allowed;
}

.button:enabled {
  background: linear-gradient(to bottom, rgb(227, 213, 255), rgb(255, 231, 231));
}


.test-container .resultBox{
  padding: 0;
  opacity: 0;
  pointer-events: none;
  max-height: 280px;
  overflow-y: auto;
}

/* .test-container.active .resultBox{
  padding: 10px 8px;
  opacity: 1;
  pointer-events: auto;
} */

.resultBox li{
  list-style: none;
  padding: 8px 12px;
  /* display: none; */
  color: #661818;
  width: 100%;
  cursor: default;
  border-radius: 3px;
}

/* .InputContainer.active .resultBox li{
  display: block;
} */
.resultBox li:hover{
  background: #661818;
}


.test-container{
  display: flex;
  align-items: center;
  flex-direction: column;
}